@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



.hamburger-button {
    background: none;
    border: none;
    position: relative;
    z-index: 10;
    display: none;
    padding: 10px;
}

.hamburger-button__bar {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin-top: 4px;
    transform-origin: 25px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* .hamburger-button--open .hamburger-button__bar {
    background-color: white;
} */

.hamburger-button--open .hamburger-button__bar:nth-child(1) {
    transform: rotate(-45deg);
}

.hamburger-button--open .hamburger-button__bar:nth-child(2) {
    opacity: 0;
}

.hamburger-button--open .hamburger-button__bar:nth-child(3) {
    transform: rotate(45deg);
}

.nav {
    display: none;
}

@media screen and (max-width: 480px) {
    .nav {
        display: block;
    }
    .hamburger-button {
        display: block;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100vw;
        height: 100vh;
        width: 100vw;
        z-index: 2;
        background-color: #242424;
        opacity: 0.9;
        color: white;
        padding: 32px;
        transition: transform 0.8s ease-in-out, right 0.8s ease-in-out;
        transform: translateX(200px);
        font-size: 2em;
        font-family: Montserrat;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
   
    .nav--open {
        transform: translateX(-100%);
    }
    .nav--open+.backdrop {
        opacity: 1;
    }
    .backdrop {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        pointer-events: none;
        background: rgba(1, 1, 1, 0.5);
        z-index: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
   
   
}


@keyframes animeBack {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}