@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'Work-sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/Work_Sans/WorkSans-VariableFont_wght.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Space-mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/assets/Space_Mono/SpaceMono-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Space-mono-bold';
    font-weight: 400;
    src: url(/src/assets/Space_Mono/SpaceMono-Bold.ttf) format('ttf');
  }
}

:root {
  font-family: "Playfair Display", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chakra-ui-light {}